html{height:100%;margin:0;padding:0;scroll-behavior:smooth}
body{margin:0;font-family:"Georgia";line-height:24px;height:100%}

a{text-decoration:none;color:#FF0F00}
a:hover{text-decoration:underline}

hr{border:0;height:0;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid rgba(255,255,255,0.3)}

.wrapper{border-radius: 25px;min-height:99%;width:70%;margin-left:15%;margin-top:15%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.22);
    background-color: #fafafa;}

#index-banner{background-size: auto 100%; background-position: center center}
#index-banner-glass{border-radius: 25px;padding: 50px 0 30px 0; background-color: #eeeeee;text-align: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container{margin:auto}

.navbar{padding:0;display: inline-block}
.navbar-frame{height:150px;width:180px;margin:auto}
.navbar-content{height: 150px;margin-left: 60px}

#author-name{font-size:30px;color:#272727;display:inline-block;font-weight: bold}

.navbar-ul{margin: 0 auto;padding:5px 0 5px 0; text-align: center;}
.nav-list{list-style-type:none;margin:0 5px 0 10px}
.alignable,.pull-left,.pull-right{display:inline-block}
.frame-pull-left{float:left}
.pull-left{float:left}
.pull-right{float:right}

#navlist{margin-top: 20px}
/*@media (max-width: 800px){.container{max-width:600px;transition:0.3s ease all}}*/
/*@media (max-width: 650px){.container{max-width:83%}.navbar-ul{margin-top:5px}}*/
/*@media (max-width: 500px){.navbar{text-align:center;padding:50px 0px 0px 0px}
#author-name{width:100%;float:none}
#navlist{padding:10px 0 10px 0;margin:0;display:block;float:none;text-align:center;width:100%}
#navlist li.alignable,#navlist li.pull-left,#navlist li.pull-right{display:inline-block}
#navlist li.pull-left{float:none}
#navlist li.nav-list{margin:0}}*/

.container .profile-picture{height:150px;width:150px}
.profile-content{margin-left: 350px;position: relative;display: block}
/*p .container .profile-picture{padding:0;margin:0}*/
/*.container img{text-align:center;width:100%}*/


.content{width: 90%; margin: auto; margin-top: 50px;}
.main{margin-left: 20px}


/*#projects{width: 100%}*/
.card{border-radius: 15px; padding:0; display: inline-block;}
.card-frame{width:32%; text-align: center; margin: 2% 0 2% 1%;}
.card-content{margin: 2%; width: 63%}
.card:hover{box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 5px 5px rgba(0, 0, 0, 0.1); background-color: #dddddd}
.card-picture{max-width: 95%;}
.card-title{margin: 0 0 0 0; font-weight: bold; display: inline-block;}

.paper-head{margin:3px 0 3px 0;font-weight:bold;}
.paper-content{margin:1px 0 1px 0}

.exp-head{margin:3px 0 3px 0;font-weight:bold;}
.exp-content{margin:1px 0 1px 0}

.year-block{font-weight:bold;color:#888888;font-size:20px; margin-bottom: 10px;}

.float-button{position: fixed; height: 50px; width: 50px; bottom: 90px; right: 50px}
#totop-button{border-radius: 50%; cursor: pointer; border: none; font-size: 16px; line-height: 48px; width: 48px; text-align: center;}
#totop-button:hover {background-color: #FFAFAA; color: "white";box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.2)}

#tail{border-radius: 25px;background-position: center center; margin: 30px 0}
#tail-glass{border-radius: 25px;padding: 20px 0 20px 0; background-color: rgb(245, 245, 245);text-align: center}